.ash_history
.cache
.coverage
.editorconfig
.env
.env-example
.git
.gitignore
.pytest_cache
.vscode
.idea
.cache/
__pycache__/
*.pytest_cache/
.venv
env/
venv/
.DS_Store
*.eggs
*.egg-info
*.py[cod]
*.swp
*.log
